<odin-content layout="row" layout-align="center center" class="login-content">

  <form layout="column" flex="30">

    <!-- field: username -->
    <odin-text-float label="Email" ng-model="signin.username" required id="usuario"></odin-text-float>

    <!-- field: password -->
    <odin-text-float label="Senha" type="password" ng-model="signin.password" required id="senha"></odin-text-float>

    <!-- button: signin -->
    <odin-button class="md-raised md-primary" ng-click="signin.doLogin()" id="submit-login">Entrar Agora</odin-button>

    <br>
    <div layout="row" layout-align="space-between center">
      <!-- checkbox: remember -->
      <odin-checkbox id="lembrar-senha">Lembrar-me</odin-checkbox>

      <!-- link: forgot password -->
      <a href="" id="esqueci-senha">Esqueci minha senha</a>

      <!-- link: signup -->
    </div>

  </form>

</odin-content>
