<div class="container">

  <div class="row"><h4>{{vm.title}}</h4></div>

  <div class="row"><hr></div>

  <div class="row">

<div class="container">

  <!-- @begin:atividadeForm -->
  <form role="form" name="form">

    <!-- @begin: periodicidade -->
    <div>
      <md-input-container style="width:30%" flex>
        <label>Descrição</label>
        <input ng-model="vm.item.dsDescricao">
      <md-input-container>
    </div>
    <!-- @end: periodicidade -->

    <md-radio-group ng-model="vm.item.tpPeriodicidade" class="md-primary">
            <b>Periodicidade</b>
            <div>
                <div style="display:inline-block">
                    <md-radio-button ng-value="1">Anual</md-radio-button>
                </div>
                <div style="display:inline-block">
                    <md-radio-button ng-value="2">Trimestal</md-radio-button>
                </div>
                <div style="display:inline-block">
                    <md-radio-button ng-value="3">Mensal</md-radio-button>
                </div>
            </div>
    </md-radio-group>

    <!-- @begin: periodicidade -->
    <md-radio-group ng-model="vm.item.tpRealizacao" class="md-primary">
            <b>Tipo Realização</b>
            <div>
                <div style="display:inline-block">
                    <md-radio-button ng-value="0">Contratual</md-radio-button>
                </div>
                <div style="display:inline-block">
                    <md-radio-button ng-value="1">Legal</md-radio-button>
                </div>
            </div>
    </md-radio-group>
    <!-- @end: periodicidade -->

    <!-- @begin: buttons -->
    <div class="row" ng-if="!vm.showConfirm">&nbsp;</div>

    <div class="row" ng-if="!vm.showConfirm">
      <div class="col-md-5">
        <a href="#atividade" class="btn" id="cancelLinkBtn">Cancel</a>
        <button
          id="saveBtn"
          ng-click="vm.save()"
          ng-disabled="vm.isClean() || form.$invalid"
          class="btn btn-primary">Salvar</button>
        <md-button
          id="deleteConfirmBtn"
          ng-click="vm.remove()"
          ng-if="vm.atividade.id"
          class="md-raised md-warn">Delete</md-button>
      </div>
    </div>
    <!-- @end: buttons -->

    <!-- @begin: confirm -->
    <div class="bs-callout bs-callout-danger" ng-if="vm.showConfirm">
      <h4>Confirm</h4>
      <p>Delete <code>{{vm.atividade.name}}</code> ?</p>
      <button
        id="deleteBtn"
        ng-click="vm.destroy()"
        class="btn btn-danger">Delete</button>
      <button
        id="cancelBtn"
        ng-click="vm.cancelRemove()"
        class="btn btn-default">Cancel</button>
    </div>
    <!-- @end: confirm -->

  </form>
  <!-- @end: atividadeForm -->

</div>

  </div>

</div>
