<md-dialog>
  <div id="regulariadeFiscalDiv">
    <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon md-svg-src="shared/img/polenta.svg"></md-icon>
        </md-button>
        <span flex>Regularidade Fiscal</span>
        <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" class="md-fling" ng-mouseleave="demo.isOpen=false">
          <md-fab-trigger>
            <md-button class="md-fab md-mini md-primary bgm-pink">
              <md-tooltip md-direction="top">Pronto</md-tooltip>
              <md-icon md-svg-src="shared/img/save.svg"></md-icon>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button class="md-fab md-mini md-primary bgm-green" ng-click="vm.addRegularidadeFiscal(vm.item)">
              <md-tooltip md-direction="top">Adicionar</md-tooltip>
              <md-icon md-svg-src="shared/img/add.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary bgm-red" ng-click="vm.clearRegularidadeFiscal(vm.item)">
              <md-tooltip md-direction="top">Clear</md-tooltip>
              <md-icon md-svg-src="shared/img/cancel.svg"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
      </div>
    </md-toolbar>
  </md-content>
    <!-- @begin: Tipo-->
    <div class="input">
        <md-input-container style="width:15%" flex>
          <label>Tipo</label>
          <input ng-model="vm.item.fgTipo">
        <md-input-container>
      </div>
    <!-- @end: Tipo -->

    <!-- @begin: Status-->
    <div class="input">
        <md-input-container style="width:50%">
          <label>Status</label>
          <input ng-model="vm.item.fgStatus">
        <md-input-container>
    </div>
    <!-- @end: Status -->

    <!-- @begin: Obeservação-->
    <div class="input">
        <md-input-container style="width:65%" flex>
          <label>Obeservação</label>
          <input ng-model="vm.item.dsObservacao">
        <md-input-container>
      </div>
    <!-- @end: Obeservação -->

    <md-toolbar class="md-toolbar-tools2">
    </md-toolbar>

  </div>
</md-dialog>
