<md-dialog>
  <div id="parecerDiv">
    <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon md-svg-src="shared/img/polenta.svg"></md-icon>
        </md-button>
        <span flex>Parecer</span>
        <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" class="md-fling" ng-mouseleave="demo.isOpen=false">
          <md-fab-trigger>
            <md-button class="md-fab md-mini md-primary bgm-pink">
              <md-tooltip md-direction="top">Pronto</md-tooltip>
              <md-icon md-svg-src="shared/img/save.svg"></md-icon>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button class="md-fab md-mini md-primary bgm-green" ng-click="vm.addParecer(vm.item)">
              <md-tooltip md-direction="top">Adicionar</md-tooltip>
              <md-icon md-svg-src="shared/img/add.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary bgm-red" ng-click="vm.clearParecer(vm.item)">
              <md-tooltip md-direction="top">Clear</md-tooltip>
              <md-icon md-svg-src="shared/img/cancel.svg"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
      </div>
    </md-toolbar>
  </md-content>
    <!-- @begin: Titulo -->
      <div class="input">
      <md-input-container style="width:50%" flex>
        <label>Titulo</label>
        <input ng-model="vm.item.dsTitulo" />
      </md-input-container>
    </div>
    <!-- @end: Titulo -->

    <!-- @begin: Descricao -->
      <div class="input">
      <md-input-container style="width:70%" flex>
        <label>Descrição</label>
        <input ng-model="vm.item.dsDescricao" />
      </md-input-container>
    </div>
    <!-- @end: Descricao -->

    <md-toolbar class="md-toolbar-tools2">
    </md-toolbar>

  </div>
</md-dialog>
