<div class="container">

  <!-- @begin: enderecoForm -->
  <form role="form" name="form">

    <!-- @begin: cep -->
    <div>
        <md-input-container style="width:15%" flex>
          <label>CEP</label>
          <input ng-model="vm.item.cidade.dsCep">
        <md-input-container>
      </div>
    <!-- @end: cep -->

    <!-- @begin: cep -->
    <div>
        <md-input-container style="width:15%" flex>
          <label>Cidade</label>
          <input ng-model="vm.item.cidade.dsCidade">
        <md-input-container>
      </div>
    <!-- @end: cep -->

    <!-- @begin: cep -->
    <div>
        <md-input-container style="width:15%" flex>
          <label>Estado</label>
          <input ng-model="vm.item.cidade.estado.dsEstado">
        <md-input-container>
      </div>
    <!-- @end: cep -->

    <!-- @begin: logradouro-->
    <div>
        <md-input-container style="width:50%">
          <label>Logradouro</label>
          <input ng-model="vm.item.endereco.dsLogradouro">
        <md-input-container>
    </div>
    <!-- @end: logradouro -->

    <!-- @begin: rua-->
    <div>
        <md-input-container style="width:50%">
          <label>Rua</label>
          <input ng-model="vm.item.endereco.dsRua">
        <md-input-container>
      </div>
    <!-- @end: rua -->

    <!-- @begin: bairro-->
    <div>
        <md-input-container style="width:25%">
          <label>Bairro</label>
          <input ng-model="vm.item.endereco.dsBairro">
        <md-input-container>
      </div>
    <!-- @end: bairro -->

    <!-- @begin: Numero -->
    <div>
        <md-input-container style="width:20%">
          <label>Numero</label>
          <input ng-model="vm.item.enderecp.dsNumero">
        <md-input-container>
      </div>
    <!-- @end: numero -->

  </form>
  <!-- @end: enderecoForm -->

</div>

    <!-- @begin: buttons -->
        <div class="row" ng-if="!vm.showConfirm">&nbsp;</div>

        <div class="row" ng-if="!vm.showConfirm">
          <div class="col-md-5">
            <a href="#empresa" class="btn" id="cancelLinkBtn">Cancel</a>
            <md-button md-no-ink class="md-raised md-primary"
              id="saveBtn"
              ng-click="vm.save()"
              ng-disabled="vm.isClean() || form.$invalid">Salvar</md-button>
            <md-button class="md-raised md-warn" id="deleteConfirmBtn"
              ng-click="vm.remove()"
              ng-if="vm.empresa.id">Cancelar</md-button>
          </div>
        </div>
        <!-- @end: buttons -->

        <!-- @begin: confirm -->
        <div class="bs-callout bs-callout-danger" ng-if="vm.showConfirm">
          <h4>Confirm</h4>
          <p>Delete <code>{{vm.empresa.name}}</code> ?</p>
          <button
            id="deleteBtn"
            ng-click="vm.destroy()"
            class="btn btn-danger">Delete</button>
          <md-button class="md-raised md-warn" id="cancelBtn"
            ng-click="vm.cancelRemove()"
              ng-if="vm.empresa.id">Cancelar</md-button>
        </div>
        <!-- @end: confirm -->

  </div>

</div>
