<!-- @begin: table -->
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="visible-xs"></th>
          <th>Código</th>
          <th>Periodicidade</th>
          <th>Descrição</th>
          <th>Tipo Realização</th>
          <th class="hidden-xs"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="atividade in vm.atividades">
          <td>{{atividade.idAtividade}}</td>
          <td>{{atividade.tpPeriodicidade}}</td>
          <td>{{atividade.dsDescricao}}</td>
          <td>{{atividade.tpTipoRealizacao}}</td>
          <td class="hidden-xs">
            <md-switch class="md-primary" ng-model="atividade.fgSelecionado"  ng-value="atividade.fgSelecionado" ng-change="vm.changeAtividade(atividade)"></md-switch>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- @end: table -->

  <!-- @begin: button -->
  <md-button md-no-ink class="md-raised md-primary"id="saveBtn" ng-click="vm.save()">Salvar</md-button>
  <!-- @end: button -->
