<div class="container">

<div class="row">
  <h2>Bem-Vindo ao CISSGRM</h2>
  <hr/>
</div>
<div ng-controller="DemoCtrl" layout="column" layout-margin>
  <p>
    <md-icon md-svg-icon="core:alarm-add"       style="color:#000;" aria-label="Add"    ></md-icon>
    <md-icon md-svg-icon="core:alarm-off"       style="color:#f00;" aria-label="Off"    ></md-icon>
    <md-icon md-svg-icon="social:cake"          style="color:#00F;" aria-label="Cake"   ></md-icon>
    <md-icon md-svg-src="img/icons/android.svg" style="color:#0F0;" aria-label="Android"></md-icon>
  </p>
</div>

</div>
