<div class="container">


  <div class="row">

<div class="container">

  <!-- @begin:empresaForm -->
  <form role="form" name="form">

    <div>
  <md-content class="md-padding" style="max-height:600px">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Inf.Basica">
        <md-content class="md-padding">
          <h1 class="md-display-2">Empresa</h1>

        <!-- @begin: razaoSocial -->
        <div>
          <md-input-container style="width:30%" flex>
            <label>Razão Social</label>
            <input ng-model="vm.item.dsRazaoSocial">
          <md-input-container>
        </div>
        <!-- @end: razaoSocial -->

        <!-- @begin: name -->
        <div>
          <md-input-container style="width:25%" flex>
            <label>Responsável Legal</label>
            <input ng-model="vm.item.dsResponsavelLegal">
          <md-input-container>
        </div>
        <!-- @end: name -->


        <!-- @begin: cpf -->
        <div>
          <md-input-container style="width:15%" flex>
            <label>CPF</label>
            <input ng-model="vm.item.dsCpf">
          <md-input-container>
        </div>
        <!-- @end: cpf -->


        <!-- @begin: cnpj -->
        <div>
          <md-input-container style="width:15%" flex>
            <label>CNPJ</label>
            <input ng-model="vm.item.dsCnpj">
          <md-input-container>
        </div>
        <!-- @end: cnpj -->


        <!-- @begin: nire -->
        <div>
          <md-input-container style="width:15%" flex>
            <label>Nire</label>
            <input ng-model="vm.item.dsNire">
          <md-input-container>
        </div>
        <!-- @end: nire -->

        <!-- @begin: status -->
        <md-radio-group ng-model="vm.item.fgStatus" class="md-primary">
            <b>Status</b>
            <div>
                <div style="display:inline-block">
                    <md-radio-button ng-value="0">Possui Pendecia</md-radio-button>
                </div>
                <div style="display:inline-block">
                    <md-radio-button ng-value="1">Não Possui</md-radio-button>
                </div>
            </div>
        </md-radio-group>
        <!-- @end: status -->

        <!-- @begin: usuario -->
        <div flex>
            <md-autocomplete
                style="width:49%; display:inline-block"
                ng-disabled="vm.isDisabled"
                md-no-cache="vm.noCache"
                md-selected-item="vm.item.cidade"
                md-search-text-change="vm.searchTextCidade(vm.searchTextN)"
                md-search-text="vm.searchTextN"
                md-selected-item-change="vm.selectedItemChange(cidade)"
                md-items="cidade in vm.querySearchCidade(vm.searchTextN)"
                md-item-text="cidade.dsCep"
                md-min-length="0"
                placeholder="Insira o CEP">
              <md-item-template>
                <span md-highlight-text="vm.searchTextN" md-highlight-flags="^i">{{cidade.dsCep}}</span>
              </md-item-template>
              <md-not-found>
                Não foi encontrado nenhum resultado para "{{vm.searchTextN}}".
              </md-not-found>
            </md-autocomplete>
        </div>

        <br>
        <br>
        <md-divider></md-divider>
        <h3 style="font-size:40px">Endereço</h3>
        <div class="row" ng-include="'app/modules/empresa/templates/formEndereco.html'"></div>
      </md-content>

      </md-tab>
      <md-tab label="Inf.Adicional">
        <md-content class="md-padding">
          <h1 class="md-display-2">Cadastros Adicionais</h1>

          <md-button class="md-primary md-raised" ng-click="vm.showAlertFiliais($event)" flex flex-md="100">
            Filiais
          </md-button>

          <md-button class="md-primary md-raised" ng-click="vm.showAlertSocios($event)" flex flex-md="100">
            Socios
          </md-button>

          <md-button class="md-primary md-raised" ng-click="vm.showAlertRegFiscal($event)" flex flex-md="100">
            Regularidades Fiscais
          </md-button>

          <md-button class="md-primary md-raised" ng-click="vm.showAlertParecer($event)" flex flex-md="100">
            Parecer
          </md-button>

          <md-button class="md-primary md-raised" ng-click="vm.showAlertContato($event)" flex flex-md="100">
            Contatos
          </md-button>

          <md-button class="md-primary md-raised" ng-click="vm.showAlertControle($event)" flex flex-md="100">
            Controles Internos
          </md-button>

        </md-content>
      </md-tab>
      <md-tab label="Atividades">
        <md-content class="md-padding">
          <h1 class="md-display-2">Atividade</h1>
          <div class="row" ng-include="'app/modules/empresa/templates/tableAtividade.html'"></div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>

  </form>
  <!-- @end: atividadeForm -->

</div>

</div>
