<!-- @begin: table -->
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th class="visible-xs"></th>
          <th>Código</th>
          <th>Periodicidade</th>
          <th>Descrição</th>
          <th>Tipo Realização</th>
          <th class="hidden-xs"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="atividade in vm.atividades">
          <td>{{atividade.idAtividade}}</td>
          <td>{{atividade.tpPeriodicidade}}</td>
          <td>{{atividade.dsDescricao}}</td>
          <td>{{atividade.tpTipoRealizacao}}</td>
          <td class="hidden-xs">
            <md-switch class="md-primary"ng-model="atividadeEmpresa"  ng-value="atividade" ng-change="vm.addAtividade()"></md-switch>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- @end: table -->

  <!-- @begin: nire -->
  <div>
    <md-input-container style="width:15%" flex>
      <label>Empresa</label>
      <input ng-model="vm.item.atividadeempresa.idEmpresa">
    <md-input-container>
  </div>
  <!-- @end: nire -->

  <!-- @begin: button -->
  <md-button md-no-ink class="md-raised md-primary"id="saveBtn" ng-click="vm.addAtividade">Salvar</md-button>
  <!-- @end: button -->
