<div class="container">

  <div class="row"><h4>{{vm.title}}</h4></div>

  <div class="row"><hr></div>

  <div class="row">

<div class="container">

  <!-- @begin: filiaisForm -->
  <form role="form" name="form">

    <!-- @begin: razao social -->
    <div>
        <md-input-container style="width:15%" flex>
          <label>Cidade</label>
          <input ng-model="vm.item.dsCidade">
        <md-input-container>
      </div>
    <!-- @end: razao social -->

    <!-- @begin: cnpj-->
    <div>
        <md-input-container style="width:50%">
          <label>CEP</label>
          <input ng-model="vm.item.dsCep">
        <md-input-container>
    </div>
    <!-- @end: cnpj -->

    <!-- @begin: Empresa-->
    <div>
      <md-select ng-model="vm.item.estado">
        <md-option ng-repeat="estado in vm.estado" ng-value="{{estado}}">
          {{estado.dsEstado}}</md-option>
        </md-select>
    </div>
    <!-- @end: Empresa -->

    <!-- @begin: buttons -->
    <div class="row" ng-if="!vm.showConfirm">&nbsp;</div>

    <div class="row" ng-if="!vm.showConfirm">
      <div class="col-md-5">
        <a href="#estado" class="btn" id="cancelLinkBtn">Cancel</a>
        <md-button
          id="saveBtn"
          ng-click="vm.save()"
          ng-disabled="vm.isClean() || form.$invalid"
          class="btn btn-primary">Salvar</md-button>
        <md-button
          id="deleteConfirmBtn"
          ng-click="vm.remove()"
          ng-if="vm.estado.id"
          class="btn btn-danger">Delete</md-button>
      </div>
    </div>
    <!-- @end: buttons -->

    <!-- @begin: confirm -->
    <div class="bs-callout bs-callout-danger" ng-if="vm.showConfirm">
      <h4>Confirm</h4>
      <p>Delete <code>{{vm.estado.name}}</code> ?</p>
      <button
        id="deleteBtn"
        ng-click="vm.destroy()"
        class="btn btn-danger">Delete</button>
      <button
        id="cancelBtn"
        ng-click="vm.cancelRemove()"
        class="btn btn-default">Cancelar</button>
    </div>
    <!-- @end: confirm -->

  </form>
  <!-- @end: filiaisForm -->

</div>

  </div>

</div>
