<div class="container">
  <!-- @begin: table -->
  <div class="card">
      <div class="card-header">
          <h2>Cidade <small>Clique em gerenciar para adicionar cidade</small></h2>
      </div>

      <div class="card-body">
          <div class="table-responsive">
              <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                <thead>
                  <tr>
                    <th>CODIGO</th>
                    <th>CIDADE</th>
                    <th>CEP</th>
                    <th>ESTADO</th>
                  </tr>
                </thead>
                <tbody>

                  <td style="width:10%">
                    <input class="form-control" style="width:100%" type="text" disabled ng-model="vm.item.idEstado"/>
                  </td>

                  <td style="width:75%">
                    <input class="form-control" style="width:100%" type="text" ng-model="vm.item.dsEstado" />
                  </td>

                  <td style="width:15%">
                    <button type="button" class="btn bgm-green waves-effect" style="width:100%" tooltip="Salvar" ng-click="vm.onSaveClick(vm.item)"><i class="glyphicon glyphicon-ok" ></i></button>
                  </td>

                  <tr ng-repeat="cidade in vm.provider"  ng-class="{ 'active': cidade.edit }">
                      <td>
                          <span ng-if="!cidade.edit">{{ cidade.idCidade }}</span>
                          <div ng-if="cidade.edit"><input class="form-control" style="width:100%;" type="number" disabled ng-model="cidade.idCidade" /></div>
                      </td>

                      <td>
                          <span ng-if="!cidade.edit">{{ cidade.dsCidade }}</span>
                          <div ng-if="cidade.edit"><input class="form-control" style="width:100%;" type="number" disabled ng-model="cidade.dsCidade" /></div>
                      </td>

                      <td>
                          <span ng-if="!cidade.edit">{{ cidade.dsCep }}</span>
                          <div ng-if="cidade.edit"><input class="form-control" style="width:100%;" type="number" disabled ng-model="cidade.dsCep" /></div>
                      </td>

                      <td>
                          <span ng-if="!cidade.edit">{{ cidade.estado.dsEstado }}</span>
                          <div ng-if="cidade.edit"><input class="form-control" style="width:100%;" type="number" disabled ng-model="cidade.estado.dsEstado" /></div>
                      </td>

                      <td>
                          <button type="button" class="btn bgm-lightblue waves-effect" style="width:48%" ng-if="!cidade.edit" ng-click="vm.iniciarEdicao(cidade)" tooltip="Editar"><i class="glyphicon glyphicon-pencil"></i></button>

                          <button type="button" class="btn btn-success" ng-if="cidade.edit" style="width:48%" tooltip="Salvar" ng-click="vm.onEditClick(cidade)"><i class="glyphicon glyphicon-ok"></i></button>

                          <button type="button" class="btn bgm-red waves-effect" style="width:48%" ng-if="!cidade.edit" tooltip="Excluir" ng-click="vm.onDeleteClick(cidade)"><i class="glyphicon glyphicon-trash"></i></button>

                          <button type="button" class="btn bgm-red waves-effect" style="width:48%" tooltip="Cancelar" ng-if="cidade.edit" ng-click="vm.cancelarEdicao(cidade)"><i class="glyphicon glyphicon-remove"></i></button>
                      </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
  <!-- @end: table -->
</div>
