<!-- @begin: filter -->
<div class="row" ng-if="!vm.showOptions &#38;&#38; !vm.showPagination &#38;&#38; vm.filter.search">
  <p class="text-center">
    <i class="glyphicon glyphicon-filter"></i> : {{vm.filter.search}}
  </p>
</div>

<div ng-if="vm.showFilter">

  <div class="input-group">
    <span class="input-group-addon">
      <i class="glyphicon glyphicon-filter"></i>
    </span>
    <input
      type="text"
      class="form-control"
      placeholder="Text"
      ng-model="vm.filter.search"
      fend-focus="focusFilterSearchInput">
    <span class="input-group-btn">
      <button
        id="filterClearButton"
        ng-click="vm.clearFilter()"
        class="btn btn-default" type="button">Clear</button>
    </span>
  </div>

  <div class="row">&nbsp;</div>
</div>
<!-- @end: filter -->

<!-- @begin: table -->
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="visible-xs"></th>
        <th>Código</th>
        <th>Cidade</th>
        <th>CEP</th>
        <th>Estado</th>
        <th class="hidden-xs"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cidade in vm.provider | filter:vm.filter.search">
        <td class="visible-xs">
          <a
            id="gotoedit_0"
            href="#cidade/edit/{{cidade.idCidade}}"><i class="glyphicon glyphicon-pencil"></i></a>
        </td>
        <td>{{cidade.idCidade}}</td>
        <td>{{cidade.dsCidade}}</td>
        <td>{{cidade.dsCep}}</td>
        <td>{{cidade.estado.dsEstado}}</td>
        <td class="hidden-xs">
          <a
            id="gotoedit_1"
            href="#cidade/edit/{{cidade.idCidade}}"><i class="glyphicon glyphicon-pencil"></i></a>
        </td>
        <td class="hidden-xs">
          <input type="button" ng-click="vm.onDeleteClick(cidade)" class="glyphicon glyphicon-pencil"></input>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- @end: table -->
