
#loko {
    width: 40px;
    height: 450px;
    background-color: write;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: example;
    animation-duration: 4s;
}

@-webkit-keyframes example {
    0%   {left:0px; top:0px;}
    50%  {left:100px; top:100px;}
}

@keyframes example {
    0%   {left:0px; top:0px;}
    50%  {top:51px;}
}
