md-toolbar {
    box-sizing: border-box;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    z-index: 2;
    font-size: 20px;
    min-height: 64px;
    width: 100%;
}
