<div id="footer" class="footer hidden-xs">
  <div class="container">
  <!--
    <p class="text-muted">
      Design - by <a href="https://alissoncarenhatto.pe.hu" target="_blank">Carenhatto Design</a> |
      <a href="https://github.com/the-front/angularjs-ee-boilerplate" target="_blank">GitHub Project</a>
    </p>
  -->
  </div>
</div>
