<div ui-view="navbar">
  <div id="header" ng-include="'app/core/main/templates/navbar.html'"></div>
  <aside id="sidebar" data-ng-include="'app/core/main/templates/sidebar-left.html'" data-ng-class="{ 'toggled': main.sidebarToggle.left === true }"></aside>
</div>
<div ui-view="content" class="wrap"></div>
<!--<div ui-view="footer">
  <div ng-include="'app/core/main/templates/footer.html'"></div>
</div>-->
