<md-toolbar>
<ul class="header-inner">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="main.sidebarToggle.left" data-ng-class="{ 'open': main.sidebarToggle.left === true }">
        <div class="line-wrap" ng-click="main.changeMenu()">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="home" data-ng-click="main.closeMenu()"> CISS GRM</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">
            <li id="toggle-width">
                <div class="toggle-switch"></div>
            </li>

                <!--@Begin: Notificacao-->
            <li class="dropdown" dropdown>
                <a dropdown-toggle class="tm-notification" href="">
                  <i class="tmn-counts">{{main.notificacoes.length || 0}}</i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div class="listview" id="notifications">
                        <div class="lv-header">
                            Notificações

                        </div>
                        <div class="lv-body">
                          <a class="lv-item" ng-href="" ng-click="main.detalhesNotificacao(notif)" ng-repeat=" notif in main.notificacoes">
                            <div class="media">
                                <div class="media-body">
                                    <div class="lv-title">{{ notif.atividadeEmpresa.empresa.dsNomeFantasia }}</div>
                                    <small class="lv-small">{{ notif.atividadeEmpresa.atividade.dsDescricao }}</small>
                                    <small class="lv-small">{{notif.dtPrazo}}</small>
                                </div>
                            </div>
                          </a>
                        </div>
                  </div>
                </div>
            </li>

          <!--@End: Notificação-->

          <li class="dropdown" dropdown>
            <a dropdown-toggle class="tm-settings" href=""></a>

            <ul class="dropdown-menu dm-icon pull-right">
              <li class="hidden-xs">

                <!--@begin: Opcoes-->
                <a data-ng-click="main.editarMsgEmail()" href="">
                  <i>Opções</i>
                </a>
                <!--@end: opcoes-->

                <!--@begin logout-->
                <a data-ng-click="" href="">
                  <i>Sair</i>
                </a>
                <!--@end: logout-->

              </li>
            </ul>
          </li>

        </ul>
    </li>
</ul>
</md-toolbar>
