<div class="sidebar-inner c-overflow">
    <ul class="main-menu">
        <li data-ui-sref-active="active" ng-repeat="item in menuItems.left">
          <a href="{{item.url}}" ng-click="main.closeMenu()">{{item.label}}</a>
        </li>
    </ul>
</div>
