<div class="container">

  <div class="row"><h4>{{vm.title}}</h4></div>

  <div class="row"><hr></div>

  <div class="row">

<div class="container">

  <!-- @begin: serieForm -->
  <form role="form" name="form">

    <!-- @begin: estado -->
    <div>
        <md-input-container style="width:15%" flex>
          <label>Estado</label>
          <input ng-model="vm.item.estado.dsEstado">
        <md-input-container>
    </div>
    <!-- @end: estado -->

    <!-- @begin: buttons -->
    <div class="row" ng-if="!vm.showConfirm">&nbsp;</div>

    <div class="row" ng-if="!vm.showConfirm">
      <div class="col-md-5">
        <a href="#estado" class="btn" id="cancelLinkBtn">Cancel</a>
        <button
          id="saveBtn"
          ng-click="vm.save()"
          ng-disabled="vm.isClean() || form.$invalid"
          class="btn btn-primary">Save</button>
        <button
          id="deleteConfirmBtn"
          ng-click="vm.remove()"
          ng-if="vm.estado.id"
          class="btn btn-danger">Delete</button>
      </div>
    </div>
    <!-- @end: buttons -->

    <!-- @begin: confirm -->
    <div class="bs-callout bs-callout-danger" ng-if="vm.showConfirm">
      <h4>Confirm</h4>
      <p>Delete <code>{{vm.estado.name}}</code> ?</p>
      <button
        id="deleteBtn"
        ng-click="vm.destroy()"
        class="btn btn-danger">Delete</button>
      <button
        id="cancelBtn"
        ng-click="vm.cancelRemove()"
        class="btn btn-default">Cancel</button>
    </div>
    <!-- @end: confirm -->

  </form>
  <!-- @end: serieForm -->

</div>

  </div>

</div>
