<div class="container">
  <!-- @begin: table -->
  <div class="card">
      <div class="card-header">
          <h2>Estado <small>Clique em gerenciar para adicionar estados</small></h2>
      </div>

      <div class="card-body">
          <div class="table-responsive">
              <table ng-table="tctrl.tableEdit" class="table table-striped table-vmiddle">
                <thead>
                  <tr>
                    <th>CODIGO</th>
                    <th>ESTADO</th>
                    <th>AÇÕES</th>
                  </tr>
                </thead>
                <tbody>

                  <td style="width:10%">
                    <input class="form-control" style="width:100%" type="text" disabled ng-model="vm.item.idEstado"/>
                  </td>

                  <td style="width:75%">
                    <input class="form-control" style="width:100%" type="text" ng-model="vm.item.dsEstado" />
                  </td>

                  <td style="width:15%">
                    <button type="button" class="btn bgm-green waves-effect" style="width:100% ; background-color: #108600" tooltip="Salvar" ng-click="vm.onSaveClick(vm.item)"><i class="glyphicon glyphicon-ok" ></i></button>
                  </td>

                  <tr ng-repeat="estado in vm.provider"  ng-class="{ 'active': estado.edit }">
                      <td>
                          <span ng-if="!estado.edit">{{ estado.idEstado }}</span>
                          <div ng-if="estado.edit"><input class="form-control" style="width:100%;" type="number" disabled ng-model="estado.idEstado" /></div>
                      </td>

                      <td>
                          <span ng-if="!estado.edit" >{{ estado.dsEstado }}</span>
                          <div ng-if="estado.edit"><input class="form-control" style="width:100%" type="text" ng-model="estado.dsEstado" maxlength="50" /></div>
                      </td>

                      <td>
                          <button type="button" class="btn bgm-lightblue waves-effect" style="width:48%" ng-if="!estado.edit" ng-click="vm.iniciarEdicao(estado)" tooltip="Editar"><i class="glyphicon glyphicon-pencil"></i></button>

                          <button type="button" class="btn btn-success" ng-if="estado.edit" style="width:48%" tooltip="Salvar" ng-click="vm.onEditClick(estado)"><i class="glyphicon glyphicon-ok"></i></button>

                          <button type="button" class="btn bgm-red waves-effect" style="width:48%" ng-if="!estado.edit" tooltip="Excluir" ng-click="vm.onDeleteClick(estado)"><i class="glyphicon glyphicon-trash"></i></button>

                          <button type="button" class="btn btn-info btn-icon waves-effect waves-circle" tooltip="Cancelar" ng-if="estado.edit" ng-click="vm.cancelarEdicao(estado)"><i class="glyphicon glyphicon-remove"></i></button>
                      </td>
                  </tr>
                </tbody>
              </table>
          </div>
      </div>
  </div>
  <!-- @end: table -->
</div>
