<div class="container">
  <div class="row"></div>

  <div class="row"><hr></div>

  <div class="row">

    <!--@begin: assunto-->
    <div class="input-group">
      <span class="input-group-addon"> </span>
      <div class="fg-line">
        <label>Assunto</label>
        <input class="form-control" ng-model="vm.item.dsAssunto">
      </div>
    </div>

    </br>

    <!--@begin: mensagem-->
    <div class="input-group">
      <span class="input-group-addon"></span>
      <div class="fg-line">
        <label>Mensagem</label>
        <input class="form-control" ng-model="vm.item.dsMensagem">
      </div>
    </div>

    <br/>

    <md-button class="md-raised md-primary" ng-click="vm.editarMsg(vm.item)"> OK </md-button>

  </div>
</div>
</div>
