<md-dialog>
  <div id="contatoDiv">
    <md-content>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
          <md-icon md-svg-src="shared/img/polenta.svg"></md-icon>
        </md-button>
        <span flex>Contato</span>
        <md-fab-speed-dial ng-hide="demo.hidden" md-direction="left" class="md-fling" ng-mouseleave="demo.isOpen=false">
          <md-fab-trigger>
            <md-button class="md-fab md-mini md-primary bgm-pink">
              <md-tooltip md-direction="top">Pronto</md-tooltip>
              <md-icon md-svg-src="shared/img/save.svg"></md-icon>
            </md-button>
          </md-fab-trigger>
          <md-fab-actions>
            <md-button class="md-fab md-mini md-primary bgm-green" ng-click="vm.addContato(vm.item)">
              <md-tooltip md-direction="top">Adicionar</md-tooltip>
              <md-icon md-svg-src="shared/img/add.svg"></md-icon>
            </md-button>
            <md-button class="md-fab md-mini md-primary bgm-red" ng-click="vm.clearContato(vm.item)">
              <md-tooltip md-direction="top">Clear</md-tooltip>
              <md-icon md-svg-src="shared/img/cancel.svg"></md-icon>
          </md-button>
        </md-fab-actions>
      </md-fab-speed-dial>
      </div>
    </md-toolbar>
  </md-content>
    <div class="input">
      <md-input-container style="width:60%" flex>
        <label>Nome</label>
        <input ng-model="vm.item.contato.dsNome">
        <md-input-container>
    </div>

    <div class="input">
      <md-input-container style="width:55%" flex>
        <label>Email</label>
        <input ng-model="vm.item.contato.dsEmail">
        <md-input-container>
    </div>

    <div class="input">
      <md-input-container style="width:40%" flex>
        <label>Telefone</label>
        <input ng-model="vm.item.contato.dsTelefone">
        <md-input-container>
    </div>

    <div class="input">
      <md-input-container style="width:35%" flex>
        <label>Chat</label>
        <input ng-model="vm.item.contato.dsChat">
        <md-input-container>
    </div>

    <md-toolbar class="md-toolbar-tools2">
    </md-toolbar>

  </div>
</md-dialog>
